# STRING

In [1]:
len ('Niloy')

5

In [2]:
'Niloy' + 'def'

'Niloydef'

In [3]:
'Nil ' * 4

'Nil Nil Nil Nil '

In [4]:
myjob = "engineer"
for c in myjob: print (c)

e
n
g
i
n
e
e
r

In [5]:
"g" in myjob

True

In [6]:
"z" in myjob

False

In [7]:
S = 'abcdefghijklmnop'
S[1:10:2]

'bdfhj'

In [8]:
S[::2]

'acegikmo'

In [9]:
S = 'hello'
S[::-1]

'olleh'

In [10]:
S = 'abcedfg'
S[5:1:-1]

'fdec'

In [11]:
int("14"), str(42)

(14, '42')

In [12]:
S = "14"
I = 1
int(S) + I

15

In [13]:
S + str(I)

'141'

In [14]:
str(3.1415), float("2.5")

('3.1415', 2.5)

In [15]:
text = "1.234E-10"
float(text)

1.234e-10

In [16]:
ord('s')
115
chr(115)
's'
S = '5'
S = chr(ord(S) + 1)
S

'6'

In [17]:
S = chr(ord(S) + 1)
S
'7'

'7'

In [18]:
S = 'sky'
S = S + 'SKY!'
S

'skySKY!'

In [19]:
S = 'BLUE'
S = S.replace('bl', 'pamal')
S

'BLUE'

In [20]:
B = '1101'
 I = 0
while B:
I = I * 2 + (ord(B[0]) - ord('0'))
B = B[1:]

I

IndentationError: unexpected indent (<ipython-input-20-4f6da44c6b72>, line 2)

In [31]:
'Give me %d %s !' % (4, 'apple')

'Give me 4 apple !'

In [32]:
exclamation = "blue"
"The sky is  %s!" % exclamation

'The sky is  blue!'

In [33]:

 "%d %s %d you" % (1, 'mail', 4)

'1 mail 4 you'

In [24]:

"%s -- %s -- %s" % (42, 3.14159, [1, 2, 3])

'42 -- 3.14159 -- [1, 2, 3]'

In [25]:
reply = """
Greetings...
Hello %(name)s!
Your age squared is %(age)s
"""
values = {'name': 'Bob', 'age': 40}
print (reply % values)

Greetings...
Hello Bob!
Your age squared is 40

In [26]:
food = 'Sandwitch'
age = 40
vars( )
{'food': 'sandwitch', 'age': 40}

"%(age)d %(food)s" % vars( )

'40 Sandwitch'

In [34]:
line = "The sky is blue!\n"
line.rstrip( )

'The sky is blue!'

In [35]:
line = "The sky is blue!\n"
line.upper( )

'THE SKY IS BLUE!\n'

In [36]:
line = "The sky is blue!\n"
line.isalpha( )

False

In [37]:
len([1, 2, 3])

3

In [38]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [39]:
>>> ['Ni!'] * 4

['Ni!', 'Ni!', 'Ni!', 'Ni!']

In [40]:

3 in [1, 2, 3]

True

In [43]:
 for x in [1, 2, 3]: print (x),

1
2
3

 str([1, 2]) + "34"

# LIST

In [46]:

[1, 2] + list("34") 
[1, 2, '3', '4']

[1, 2, '3', '4']

In [50]:
L = ['spam', 'Spam', 'SPAM']
L[2]

'SPAM'

In [48]:
 L[-2]

'Spam'

In [49]:
L[1:]

['Spam', 'SPAM!']

In [51]:
 matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

matrix[1]

[4, 5, 6]

In [52]:

 matrix[1][1]

5

In [53]:
 matrix[2][0]

7

In [54]:
 matrix = [[1, 2, 3],
 [4, 5, 6],
[7, 8, 9]]
matrix[1][1]

5

In [75]:
 L = []
L.append(1) 
L.append(2)
L

[1, 2]

In [76]:
[1, 2]
L.pop( )
2
L

[1]

In [77]:
L = ['spam', 'Spam', 'SPAM!']
L[1] = 'eggs'
L

['spam', 'eggs', 'SPAM!']

In [78]:

L[0:2] = ['eat', 'more'] 
L

['eat', 'more', 'SPAM!']

In [79]:
L.append('please')
L

['eat', 'more', 'SPAM!', 'please']

In [80]:
L.sort( ) 
L

['SPAM!', 'eat', 'more', 'please']


del L[1:] 
L

# DICTIONARY

In [83]:
d2 = {'spam': 2, 'ham': 1, 'eggs': 3}
d2['spam']

2

In [85]:
 d2

{'spam': 2, 'ham': 1, 'eggs': 3}

In [86]:
 d2['ham'] = ['grill', 'bake', 'fry'] 
 d2

{'spam': 2, 'ham': ['grill', 'bake', 'fry'], 'eggs': 3}

In [87]:
del d2['eggs']
d2

{'spam': 2, 'ham': ['grill', 'bake', 'fry']}

In [88]:
d2['brunch'] = 'Bacon'
d2

{'spam': 2, 'ham': ['grill', 'bake', 'fry'], 'brunch': 'Bacon'}

In [89]:
d2 = {'spam': 2, 'ham': 1, 'eggs': 3}
d2.values( )

dict_values([2, 1, 3])

In [90]:
d2.items( )

dict_items([('spam', 2), ('ham', 1), ('eggs', 3)])

In [93]:
 d3 = {'toast':4, 'muffin':5}
 d2.update(d3)
 d2

{'spam': 2, 'ham': 1, 'eggs': 3, 'toast': 4, 'muffin': 5}

In [94]:
d2.pop('muffin')

5

In [95]:
d2.pop('toast')

4

In [96]:
d2

{'spam': 2, 'ham': 1, 'eggs': 3}

In [98]:
L = ['aa', 'bb', 'cc', 'dd']
L.pop( )

'dd'

In [99]:
L
['aa', 'bb', 'cc']
L.pop(1)

'bb'

In [101]:
L

['aa', 'cc']