# Number operations

In [1]:
153 + 222

375

In [2]:
2.5 * 4

10.0

In [3]:
2 ** 9

512

In [4]:
3.1415 * 2

6.283

In [6]:
import math
math.pi

3.141592653589793

In [8]:
import math
math.sqrt(4)

2.0

In [7]:
print(1+2)
print(3*4)
print(7/8)

3
12
0.875

In [9]:
import random
random.random( )

0.3098161695664282

In [10]:
import random
random.choice([1, 2, 3, 4])

3

# String

In [14]:
S = 'Niloy'
len(S)

5

In [15]:
S = 'Niloy'
S[0]

'N'

In [16]:
S = 'Niloy'
S[-2]

'o'

In [17]:
S = 'Niloy'
[len(S)-1]

[4]

In [18]:
S = 'Niloy'
S[1:3]

'il'

In [20]:
S = 'Niloy'
S[1:]

'iloy'

In [21]:
S = 'Niloy'
S[:3]

'Nil'

In [22]:
 S = 'Niloy'
S[:]

'Niloy'

In [23]:
 S = 'Niloy'
S + 'xyz'

'Niloyxyz'

In [24]:
 S = 'Niloy'
 S* 8

'NiloyNiloyNiloyNiloyNiloyNiloyNiloyNiloy'

In [27]:
S = 'Niloy'
S = 'z' + S[1:]
S

'ziloy'

In [34]:
S = 'Niloy' 
S.replace('ilo', 'XYX')

'NXYXy'

# List

In [39]:
L= [14,'Niloy', 600, 9.50]
len(L)

4

In [36]:
L[2]

56000

In [37]:
L[:-1]

[21, 'rahman', 56000]

In [38]:
L + [4, 5, 6]

[21, 'rahman', 56000, 4.5, 4, 5, 6]

In [42]:
L.append('NI')
L

[14, 'Niloy', 600, 9.5, 'NI', 'NI', 'NI']

In [44]:
L.pop(2)
L

[14, 'Niloy', 'NI', 'NI', 'NI']

In [45]:
M = ['bb', 'aa', 'cc']
M.sort( )
M

['aa', 'bb', 'cc']

In [46]:
M.reverse( )
M

['cc', 'bb', 'aa']

In [47]:
M = [[1, 2, 3], 
[4, 5, 6],
[7, 8, 9]]
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [48]:
M[1][2]

6

# Tuples

In [49]:
T = (1, 2, 3, 4)
len(T)

4

In [50]:
T + (5, 6)

(1, 2, 3, 4, 5, 6)

In [51]:
T[0]

1

# Dictionaries

In [53]:
D = {'item': 'bucket', 'quantity': 4, 'color': 'pink'}
D['item']

'bucket'

In [54]:
D['quantity'] += 1
D

{'item': 'bucket', 'quantity': 5, 'color': 'pink'}

In [55]:
D = {}
D['name'] = 'Niloy' 
D['job'] = 'devoloper'
D['age'] = 25
D

{'name': 'Niloy', 'job': 'devoloper', 'age': 25}